{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
    <link rel="stylesheet" href="{% static 'style.css' %}" />
    <title>bootstrap-forms</title>
</head>

<body>
    <form method="post">
        {% csrf_token %}
        <!-- Navigation Bar -->
        <nav class="bg-blue-100 fs-6 nav-padding py-3">
            {{ user_email }} (GH: {{ user_id }})
            <a href="{% url 'register' %}" class="btn btn-outline-secondary bg-red fw-bolder ms-auto logout">Logout</a>
        </nav>

        <!-- Main Content Grid -->
        <div class="grid mb-5">
            <!-- Tab Navigation -->
            <div class="width-10">
                <div class="border-custom tab-custom-style p-4">
                    <div role="button" class="mb-2 tab-normal">Tab 1</div>
                    <div role="button" class="mb-2 tab-active cursor-pointer">Tab 2</div>
                    <div role="button" class="tab-normal">Tab 3</div>
                </div>
            </div>

            <!-- Main Form Area -->
            <div class="width-60">
                <!-- Top Buttons -->
                <div class="d-flex justify-content-between">
                    <div>
                        <!-- Dropdown and Action Buttons -->
                        <div class="dropdown d-inline">
                            <button class="btn btn-outline-secondary dropdown-toggle custom-dropdown" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">Select ID</button>
                            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                                <li><a class="dropdown-item" href="#" onclick="selectDropdownItem('1')">1</a></li>
                                <li><a class="dropdown-item" href="#" onclick="selectDropdownItem('2')">2</a></li>
                                <li><a class="dropdown-item" href="#" onclick="selectDropdownItem('3')">3</a></li>
                            </ul>
                        </div>
                        <button type="button" class="btn btn-outline-secondary bg-yellow fw-bolder" id="editButton">Edit</button>
                        <button type="button" class="btn btn-outline-secondary bg-green fw-bolder" id="saveButton" style="display: none;">Save</button>
                        <button type="button" class="btn btn-outline-secondary fw-bolder" id="cancelButton" style="display: none;">Cancel</button>
                        <button type="button" class="btn btn-outline-secondary bg-blue-200 fw-bolder">New</button>
                    </div>
                </div>

                <!-- Form Fields -->
                <div class="mt-4 border-custom p-4 pb-5">

                    <div class="mb-5">
                        <label for="formFile" class="form-label">Upload xls sheet</label>
                        <input class="form-control" type="file" id="formFile">
                    </div>


                    <!-- File Input -->
                    <div class="mb-5">
                        <label for="formFile" class="form-label">Upload image</label>
                        <input class="form-control" type="file" id="formFile">
                        <br>
                        <br>
                        <div>
                            <label>Preview</label><br>
                            <img src="..." class="img-thumbnail" alt="Preview Image">
                        </div>


                    </div>

                    <!-- Username and Server Input -->
                    <div class="input-group mb-3">
                        <input type="text" class="form-control" placeholder="Username" aria-label="Username">
                        <span class="input-group-text">@</span>
                        <input type="text" class="form-control" placeholder="Server" aria-label="Server">
                    </div>
                    <br>
                    <br>
                    <!-- Example of a Bootstrap Download Button -->


                    <div>
                        <a href="path/to/your/first/file" download="filename1" class="btn btn-primary" style="margin-right: 20px;">Image download</a>
                        <a href="path/to/your/second/file" download="filename2" class="btn btn-secondary">Xls download</a>
                    </div>



                    <br>
                    <br>

                    <div>
                        <label for="customRange1" class="form-label">Range slider</label>
                                <input type="range" class="form-range" id="customRange1" min="1" max="10" value="1">
                        <div>




                            <br>
                            <br>
                            <br>
                            <!-- Table -->
                            <div>
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th scope="col">#</th>
                                            <th scope="col">First</th>
                                            <th scope="col">Last</th>
                                            <th scope="col">Handle</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <th scope="row">1</th>
                                            <td>Mark</td>
                                            <td>Otto</td>
                                            <td>@mdo</td>
                                        </tr>
                                        <tr>
                                            <th scope="row">2</th>
                                            <td>Jacob</td>
                                            <td>Thornton</td>
                                            <td>@fat</td>
                                        </tr>
                                        <tr>
                                            <th scope="row">3</th>
                                            <td colspan="2">Larry the Bird</td>
                                            <td>@twitter</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>

                    </div>

                    <br>
                    <br>

                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="invalidCheck" required>
                        <label class="form-check-label" for="invalidCheck">
                            Agree to terms and conditions
                        </label>
                        <div class="invalid-feedback">
                            You must agree before submitting.
                        </div>
                    </div>


                </div>





                <!-- Bottom Buttons -->
                <div class="d-flex mt-4 justify-content-between">
                    <div>
                        <input type="submit" value="save" class="btn btn-outline-secondary fw-bolder">
                        <button type="button" class="btn btn-outline-secondary fw-bolder">Save via API</button>
                    </div>
                    <button type="button" class="btn btn-outline-secondary bg-green fw-bolder">Next</button>
                </div>

    </form>

    <!-- Scripts -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <script src="{% static 'main.js' %}"></script>

</body>

</html>
